* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: var(--black-text);
}

:root {
  --title-color: #243e63;
  --accent-color: #6415ff;
  --black-text: #1a202c;
  --light-grey: #7c8ba1;
  --hover-primary-color: rgba(80, 17, 204, 1);
}

img,
video {
  max-width: 100%;
  height: auto;
}

.flex {
  display: flex;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

.noList {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

/* main navigation */
.mainHeader {
  transform: translateX(-2000px);
  animation: slideFromLeft 0.5s ease forwards;
  z-index: 4;
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-2000px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(2000px);
  }
  100% {
    transform: translateX(0px);
  }
}

.mainNav {
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 100%;
}

.homeLogo {
  margin-right: 24px;
  padding-bottom: 4px;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 0.025em;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.homeLogo:hover,
.homeLogo:focus {
  color: var(--accent-color);
}

.logoImg {
  width: 2.5rem;
  margin-right: 0.75rem;
}

.navList {
  align-items: center;
}

.navLi {
  position: relative;
  margin: 0px 1.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.025em;
}

.navLink,
.link {
  transition: all 0.5s ease;
}

.navLink:hover,
.navLink:focus {
  color: var(--accent-color);
}

.link::after {
  background-color: #ffff;
}

.navLink::after,
.link::after {
  content: "";
  margin-top: 0.25rem;
  height: 2px;
  width: 100%;
  background: var(--black-text);
  position: absolute;
  bottom: -6px;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease;
}

.navLink:hover::after {
  opacity: 1;
  background: var(--accent-color);
}

.linkLi {
  position: relative;
  width: fit-content;
}

.link:hover:after {
  opacity: 1;
  background: #ffff;
}

/* mobile navigation on */

.navList {
  display: none;
}

.menuIconContainer {
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.5s ease;
}

.menuIconContainer:hover,
.menuIconContainer:focus {
  color: var(--accent-color);
}

/*
.navLink::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(90deg, white, white);
  background-size: 0 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 0.5s ease;
}

.navLink:hover:before {
  background-size: 100% 2px;
}*/

.logInLi {
  margin-left: 48px;
  margin-right: 0.5rem;
}

.signUpBtn {
  padding: 0.75rem 2rem;
  background-color: var(--accent-color);
  color: rgba(247, 250, 252, 1);
  border: none;
  box-shadow: none;
  border-radius: 1.25rem;
  font-weight: 600;
  margin-left: 0.5rem;
  letter-spacing: 0.5px;
  transition: all 0.4s ease;
}

.signUpBtn:hover {
  background-color: var(--hover-primary-color);
}

.mobileNav {
  position: fixed;
  transform: none;
  z-index: 9000;
  left: 16px;
  right: 16px;
  top: 24px;
  margin: auto;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  background-color: #ffff;
  padding: 2rem 1rem;
  display: none;
}

.mobileNavIcon {
  position: absolute;
  top: 8px;
  right: 16px;
  margin: auto;
  z-index: 10;
  padding: 0px;
  font-size: 2rem;
  transition: all 0.5s ease;
  cursor: pointer;
}

.mobileNavIcon:hover,
.mobileNavIcon:focus {
  color: var(--accent-color);
}

.mobileNavList {
  width: 100%;
  margin-top: 1rem;
  align-items: center;
  text-align: center;
  row-gap: 1.5rem;
}

.mobileNavList .navLi {
  text-align: center;
  font-size: 1.25rem;
}

.mobileNavList .logInLi {
  margin: 0 1.5rem;
}

.mobileNavList .signUpBtn {
  font-size: 1.25rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

/* main section of page */

.mainContainer {
  width: 100%;
  padding: 0rem 2rem;
}

.pageSection {
  padding: 6rem 0rem;
}

.innerContainerWork,
.innerEasyContainer,
.innerValueContainer,
.innerTestimonialContainer,
.footerInfo {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.innerValueContainer,
.innerContainerWork {
  flex-direction: column-reverse;
}

.heroSection {
  position: relative;
  transform: translateX(-2000px);
  animation: slideFromLeft 0.5s ease forwards;
  flex-direction: column;
  align-items: center;
}

.heroDecoration {
  pointer-events: none;
  z-index: -1;
  position: absolute;
  left: -350px;
  bottom: -100px;
  opacity: 0.05;
  width: 30%;
}

.featureDecoration {
  pointer-events: none;
  z-index: -1;
  position: absolute;
  right: -200px;
  bottom: -50rem;
  opacity: 0.5;
  width: 20%;
}

.heroCopy {
  text-align: center;
  width: 100%;
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.heroTitle {
  font-size: 1.875rem;
  color: var(--black-text);
  font-weight: 700;
  line-height: 1.25;
}

.specialText {
  color: var(--accent-color);
}

.heroArt {
  width: 100%;
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
}

.heroImg {
  width: 100%;
  max-width: 32rem;
}

.sectionPara {
  font-size: 0.875rem;
  margin: 1.25rem 0rem;
  line-height: 1.5;
}

.emailContainer {
  width: 100%;
  position: relative;
  max-width: 28rem;
  flex-direction: column;
  row-gap: 1rem;
}

.emailInput {
  width: 100%;
  border: 2px solid rgb(226, 232, 240);
  color: var(--light-grey);
  border-radius: 2rem;
  padding: 1.5rem;
  transition: all 0.5s ease;
}

.emailInput:hover {
  border-color: var(--light-grey);
}

input::placeholder {
  color: rgb(184, 190, 197);
  opacity: 1;
}

.emailBtn {
  position: relative;
  border: none;
  box-shadow: none;
  border-radius: 2rem;
  background-color: var(--accent-color);
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 1rem 1.5rem;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.emailBtn:hover {
  background-color: var(--hover-primary-color);
}

.customersContainer {
  margin-top: 3rem;
  text-transform: uppercase;
  color: var(--light-grey);
}

.customersPara {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin: 0rem;
}

.customersImg {
  padding-right: 0rem;
  margin-top: 1rem;
  opacity: 0.5;
}

/* Features section */

.featuresSection {
  padding: 5rem 0;
  transform: translateX(2000px);
  animation: slideFromRight 1s ease forwards;
}

.featuresSection.animate {
  animation: slideFromRight 1s ease forwards;
}

.innerFeaturesContainer {
  text-align: center;
  align-items: center;
}

.subtitle {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
  letter-spacing: 0.05rem;
}

.sectionTitle {
  font-weight: 900;
  font-size: 2.25rem;
}

.titlePara {
  font-weight: 400;
  color: var(--light-grey);
  line-height: 1.5;
  max-width: 36rem;
}

.subfeatureContainer {
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.serviceBox {
  margin: 0rem 1rem;
  padding: 2rem 0.5rem;
  width: 100%;
  max-width: 24rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.iconBox {
  border: 1px solid var(--light-grey);
  text-align: center;
  padding: 1.25rem;
  border-radius: 100%;
  aspect-ratio: 1 / 1;
  width: 66px;
  height: 66px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.serviceDescription {
  margin: 0.5rem 0rem 0rem 1rem;
  align-items: center;
  text-align: center;
}

.serviceTitle {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.025em;
  color: var(--title-color);
}

.servicePara {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2;
  color: rgb(124, 139, 161, 1);
}

/* quality work section */

.innerContainerWork {
  width: 100%;
  padding: 6rem 0rem;
}

.innerContainerWork > div {
  width: 100%;
}

.qualityWorkCopy {
  padding: 1.5rem;
  align-items: center;
}

.learnMoreBtn {
  padding: 1rem 2.5rem;
  background-color: var(--accent-color);
  color: #ffff;
  box-shadow: none;
  border: none;
  border-radius: 2rem;
  width: fit-content;
  letter-spacing: 0.5px;
  transition: all 0.5s ease;
}

.qualityArtContainer,
.innerArtContainerEasy,
.valueArtContainer {
  width: 100%;
  max-width: 28rem;
  margin: 0rem auto;
}

.learnMoreBtn:hover {
  background-color: var(--hover-primary-color);
}

/* easy section */

.innerEasyContainer > div {
  width: 100%;
}

.innerArtContainerEasy {
  flex-shrink: 0;
}

.innerArtContainerEasy img {
  height: fit-content;
}

.easyCopyContainer {
  margin-left: 0rem;
  padding: 2rem 0rem;
}

.stepsList {
  margin-top: 3rem;
  row-gap: 2rem;
}

.stepLi {
  column-gap: 1.25rem;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.number {
  font-size: 2rem;
  color: var(--light-grey);
  font-weight: 500;
  opacity: 0.5;
}

.stepTitle {
  font-size: 1.125rem;
  color: var(--title-color);
  font-weight: 500;
  margin-bottom: 1rem;
}

.stepText {
  max-width: 20rem;
  line-height: 2;
  font-size: 0.875rem;
  color: var(--light-grey);
  opacity: 0.5;
  font-weight: 500;
}

/* values section */

.innerValueContainer > div {
  width: 100%;
}

.valueCopyContainer {
  margin-right: 0rem;
  padding: 2rem 0rem;
  align-items: center;
}

.valueBoxTitle {
  align-items: center;
}

.valueBox {
  flex-direction: column;
  margin: 0rem 0rem 1rem;
  column-gap: 1.5rem;
  align-items: center;
}

.valueSmallBox {
  align-items: center;
  text-align: center;
  max-width: 20rem;
}

.valueIconBox {
  padding: 0.5rem;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.green {
  background-color: #9ae6b4;
}

.red {
  background-color: #feb2b2;
}

.valueSmallPara {
  color: var(--light-grey);
  opacity: 0.85;
}

/* pricing plans */

.innerPricingContainer {
  text-align: center;
  align-items: center;
}

.pricingPara {
  margin-bottom: 4rem;
  max-width: 600px;
  color: var(--light-grey);
  opacity: 0.75;
}

.pricingBlock {
  flex-direction: column;
  align-items: center;
  column-gap: 1rem;
  row-gap: 2rem;
  justify-content: space-between;
}

.pricingBox {
  position: relative;
  width: 100%;
  max-width: 24rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 8px rgb(171, 171, 171);
  margin: 0rem 0.5rem;
  margin-top: 4rem;
}

.pricingHeader {
  padding-bottom: 1rem;
  /* border-bottom: 2px solid var(--light-grey); */
  text-align: center;
  align-items: center;
  row-gap: 1rem;
  padding: 2rem;
}

.pricingTitle {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 700;
  color: var(--black-text);
  font-size: 1.25rem;
  margin: 1rem 0rem;
}

.priceTag {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 1ren 0rem;
}

.billingType {
  color: var(--light-grey);
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;
  opacity: 0.5;
  margin: 1rem 0rem;
  text-transform: uppercase;
}

.pricingDescription {
  padding: 2rem;
  text-align: center;
  align-items: center;
  row-gap: 2rem;
  border-bottom: 2px solid var(--light-grey);
}

.descriptionList {
  text-align: center;
  align-items: center;
  row-gap: 1rem;
  color: var(--light-grey);
}

.descriptionLi {
  opacity: 0.75;
}

.priceCta {
  padding: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.ctaBtn {
  padding: 1rem 3.25rem;
  border-radius: 2rem;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  border: none;
  box-shadow: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.ctaBtn:hover {
  box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.3);
}

.businessPriceBox {
  background-color: #6415ff;
  color: #ffff;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.businessPriceBox .descriptionLi,
.businessPriceBox .billingType,
.businessPriceBox .pricingTitle {
  color: #ffff;
  opacity: 1;
}

.businessPriceBox > .pricingHeader,
.businessPriceBox > .pricingDescription {
  border-bottom: 2px solid rgba(143, 160, 234, 0.856);
}

.businessBtn {
  background-color: #ffff;
  color: var(--accent-color);
}

.businessBtn:hover {
  background-color: #ededed;
}

.pricingColorStrip {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 8px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  z-index: 10;
}

.greenStrip {
  background-color: green;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.redStrip {
  background-color: red;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.personalBtn {
  background-color: green;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  color: #ffff;
}

.enterpriseBtn {
  background-color: red;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  color: #fff;
}

.personalPriceBox .pricingHeader,
.enterprisePriceBox .pricingHeader {
  border-bottom: 2px solid var(--light-grey);
}

/* testimonials section */

.innerTestimonialContainer > div {
  width: 100%;
}

.testimonialArtContainer {
  width: 100%;
  max-width: 28rem;
  margin: 0rem auto;
}

.testimonialArtContainer img {
  width: 100%;
}

.testimonialCopyContainer {
  margin-left: 0rem;
  margin-top: 4rem;
  align-items: center;
}

.testimonialsPara {
  color: var(--light-grey);
  opacity: 0.7;
}

.testimonialBox {
  margin: 1rem 0rem;
}

.testimonial {
  align-items: center;
}

.star {
  margin-right: 0.25rem;
  display: inline-block;
  font-size: 1.25rem;
  fill: rgb(246 173 85 1);
  color: rgb(246, 173, 85, 1);
  background-color: rgb(246 173 85 1);
}

.starsBox {
  margin-bottom: 1rem;
}

.innerTestiPara {
  margin: 1rem 0rem;
  font-size: 1rem;
  color: var(--light-grey);
  opacity: 1;
  font-weight: 500;
  line-height: 1.625;
  margin-bottom: 2.5rem;
}

.testimonialFooter {
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

.testimonialAuthor {
  column-gap: 1.5rem;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.profilePicContainer {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: var(--light-grey);
  overflow: hidden;
}

.profilePicContainer img {
  object-fit: cover;
}

.author {
  row-gap: 0.5rem;
}

.authorDescription {
  color: var(--light-grey);
  opacity: 0.75;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.testimonialBtnsContainer {
  padding: 0rem 2rem;
  justify-content: center;
  align-items: center;
}

.slideBtn {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 100%;
  background-color: rgba(124, 139, 161, 0.35);
  color: var(--accent-color);
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hl {
  margin: 0rem 0.5rem;
  height: 1rem;
  width: 1px;
  background-color: rgba(124, 139, 161, 0.5);
}

.slideBtn i {
  font-size: 1.25rem;
}

/* FAQS section */

.innerContainerFaq {
  text-align: center;
  align-items: center;
}

.faqPara {
  color: var(--light-grey);
  opacity: 7;
  max-width: 500px;
  margin-bottom: 3rem;
}

.faqAccordion {
  padding: 2rem 0rem;
  width: 100%;
  max-width: 56rem;
}

.faqList {
  width: 100%;
  row-gap: 1rem;
}

.faqLi {
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  background-color: var(--light-grey);
  background-color: rgb(227, 232, 238);
  color: var(--title-color);
  font-weight: 600;
  letter-spacing: 0.25px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.faqLi:hover {
  background-color: rgb(228, 228, 228);
}

.questionHeading {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.questionHeading i {
  font-weight: 500;
  font-size: 1.5rem;
  cursor: pointer;
}

/* cta section */

.ctaSection {
  margin-bottom: 6rem;
}

.ctaInnerContainer {
  flex-direction: column;
  padding: 5rem 2rem;
  border-radius: 1rem;
  background-color: var(--accent-color);
  background-color: rgb(100, 21, 255);
  color: #ffff;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  row-gap: 1.5rem;
}

.ctaCopy {
  max-width: 450px;
}

.ctaCopy .sectionTitle {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5;
}

.ctaButtonSection {
  column-gap: 1rem;
  row-gap: 1rem;
  flex-direction: column;
}

.ctaButtonSection .ctaBtn {
  padding: 1rem 1.75rem;
  font-size: 0.85rem;
  text-transform: capitalize;
  min-width: fit-content;
}

.ctaButtonSection .getStartedBtn {
  background-color: rgba(245, 101, 101, 1);
  color: rgba(247, 250, 252, 1);
}

.ctaButtonSection .contactUsBtn {
  border: 1px solid;
  background-color: transparent;
  border-color: rgba(160, 174, 192, 1);
  color: rgba(247, 250, 252, 1);
}

/* footer */

.mainFooter {
  position: relative;
  width: 100%;
  background-color: rgb(100, 21, 255);
  color: #ffff;
  padding: 5rem 2rem;
}

.linksContainer {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--light-grey);
}

.linkBox {
  margin-top: 3rem;
  padding: 0rem 1rem;
  text-align: center;
  align-items: center;
}

.linkHeading {
  font-size: 0.95rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.linkList {
  list-style-type: none;
  row-gap: 1rem;
  font-size: 0.75rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  align-items: center;
}

.footerInfo {
  padding: 3rem 0rem 0rem;
  align-items: center;
  justify-content: space-between;
  row-gap: 1.5rem;
}

.footerLogo {
  align-items: center;
  font-weight: 700;
  letter-spacing: 0.75px;
  font-size: 1.25rem;
}

.copyrightText {
  color: var(--light-grey);
  font-size: 0.9rem;
}

.socialMediaIcons {
  column-gap: 1rem;
}

.socialCircle {
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  background-color: #d4dae3;
  color: var(--accent-color);
  border-radius: 100%;
  font-size: 1.25rem;
}

.footerDecoration {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 20rem;
  width: 20rem;
  opacity: 0.5;
  z-index: 1;
  background-color: var(--accent-color);
}

/* hidden class */

.hidden {
  display: none;
}

@media only screen and (min-width: 640px) {
  /* styling changes at 640px */

  .sectionPara {
    font-size: 1rem;
  }

  .emailContainer {
    width: 100%;
    position: relative;
    max-width: 28rem;
  }

  .emailInput {
    width: 100%;
    border: 2px solid rgb(226, 232, 240);
    color: var(--light-grey);
    border-radius: 2rem;
    padding: 1.5rem;
    transition: all 0.5s ease;
  }

  .emailInput:hover {
    border-color: var(--light-grey);
  }

  input::placeholder {
    color: rgb(184, 190, 197);
    opacity: 1;
  }

  .emailBtn {
    position: absolute;
    top: 8px;
    bottom: 8px;
    right: 8px;
    margin: auto;
    border: none;
    box-shadow: none;
    border-radius: 2rem;
    background-color: var(--accent-color);
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 0rem 1.5rem;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
  }

  .emailBtn:hover {
    background-color: var(--hover-primary-color);
  }

  .sectionTitle {
    font-size: 3rem;
  }

  /* services */

  .serviceBox {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
  }

  .serviceDescription {
    align-items: flex-start;
    text-align: left;
  }

  /* testimonial section */
  .testimonialFooter {
    flex-direction: row;
  }

  .testimonialAuthor {
    column-gap: 1.5rem;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0rem;
  }

  /* cta section */

  .ctaCopy .sectionTitle {
    font-size: 1.875rem;
  }

  .ctaButtonSection {
    flex-direction: row;
  }

  .ctaInnerContainer {
    padding: 6rem 8rem;
  }

  /* pricing */

  .priceTag {
    font-size: 3rem;
    font-weight: 700;
    margin: 1ren 0rem;
  }

  /* footer */

  .mainFooter {
    padding: 6rem 2rem;
  }

  .linksContainer {
    width: 100%;
    margin-top: -3rem;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .linkBox {
    padding: 0rem;
    width: 33%;
    text-align: left;
    align-items: flex-start;
  }

  .linkList {
    align-items: flex-start;
  }
}

@media only screen and (min-width: 768px) {
  /* Features section at 768px */

  .innerContainerWork,
  .innerEasyContainer,
  .innerValueContainer,
  .innerTestimonialContainer,
  .footerInfo {
    flex-direction: row;
    text-align: left;
  }

  .serviceBox {
    margin: 0rem 1rem;
    padding: 2rem 0.5rem;
    width: 50%;
    max-width: none;
  }

  /* quality work section */

  .innerContainerWork > div {
    width: 50%;
  }

  .qualityWorkCopy {
    padding: 1.5rem;
    align-items: flex-start;
  }

  .qualityArtContainer,
  .innerArtContainerEasy,
  .valueArtContainer {
    width: 100%;
    max-width: none;
  }

  /* easy section */

  .innerEasyContainer > div {
    width: 50%;
  }

  .innerArtContainerEasy {
    flex-shrink: 0;
  }

  .innerArtContainerEasy img {
    height: fit-content;
  }

  .easyCopyContainer {
    margin-left: 4rem;
    padding: 2rem 0rem;
  }

  .stepsList {
    margin-top: 3rem;
    row-gap: 2rem;
  }

  .stepLi {
    flex-direction: row;
    align-items: flex-start;
    column-gap: 1.25rem;
  }

  /* values section */

  .innerValueContainer > div {
    width: 50%;
  }

  .valueCopyContainer {
    margin-right: 4rem;
    padding: 2rem 0rem;
    align-items: flex-start;
    text-align: left;
  }

  .valueBoxTitle {
    align-items: center;
  }

  .valueBox {
    align-items: flex-start;
  }

  .valueSmallBox {
    align-items: flex-start;
    text-align: left;
    max-width: 20rem;
  }

  .valueIconBox {
    padding: 0.5rem;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
  }

  /* testimonial */

  .innerTestimonialContainer > div {
    width: 50%;
  }

  .testimonialArtContainer {
    max-width: none;
  }

  .testimonialCopyContainer {
    margin-left: 4rem;
    margin-top: 4rem;
    align-items: flex-start;
  }

  .testimonial {
    align-items: flex-start;
  }

  /* footer */
  .linksContainer {
    width: 100%;
    margin-top: -3rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .linkBox {
    padding: 0rem;
    width: auto;
  }
}

@media only screen and (min-width: 1024px) {
  /* desktop navigation on */

  .navList {
    display: flex;
  }

  .menuIconContainer {
    display: none;
  }

  .sectionPara {
    font-size: 1rem;
    margin: 2rem 0rem;
    line-height: 1.5;
  }

  /* hero section at 1024px width*/
  .heroSection {
    flex-direction: row;
  }

  .heroCopy {
    text-align: left;
    width: 40%;
    max-width: none;
  }

  .heroTitle {
    font-size: 2.25rem;
  }

  .heroArt {
    justify-content: flex-end;
  }

  .customersContainer {
    margin-top: 5rem;
    text-transform: uppercase;
    color: var(--light-grey);
  }

  .customersPara {
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin: 0rem;
  }

  .customersImg {
    padding-right: 4rem;
  }

  .heroArt {
    margin-top: 0px;
    width: 60%;
  }

  /* Features section at 1024px */

  .serviceBox {
    margin: 0rem 1rem;
    padding: 2rem 0.5rem;
    width: calc(92% / 3);
    width: 33.333%;
    max-width: 24rem;
  }

  /* value section at 1024px */

  .valueBox {
    flex-direction: row;
    margin: 0rem 0rem 1rem;
    column-gap: 1.5rem;
  }

  /* pricing section at 1024 px */

  .pricingBlock {
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 1rem;
    row-gap: 2rem;
    align-items: stretch;
    -webkit-box-align: stretch;
  }

  .pricingBox {
    position: relative;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 8px rgb(171, 171, 171);
    margin: 0rem;
    margin-top: 4rem;
    margin-right: 2rem;
  }

  .pricingHeader {
    padding-bottom: 1rem;
    /* border-bottom: 2px solid var(--light-grey); */
    text-align: center;
    align-items: center;
    row-gap: 1rem;
    padding: 2rem;
  }

  .pricingTitle {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
    color: var(--black-text);
    font-size: 1.25rem;
    margin: 1rem 0rem;
  }

  .priceTag {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 1ren 0rem;
  }

  .billingType {
    color: var(--light-grey);
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 1px;
    opacity: 0.5;
    margin: 1rem 0rem;
    text-transform: uppercase;
  }

  .pricingDescription {
    padding: 2rem;
    text-align: center;
    align-items: center;
    row-gap: 2rem;
    border-bottom: 2px solid var(--light-grey);
  }

  .descriptionList {
    text-align: center;
    align-items: center;
    row-gap: 1rem;
    color: var(--light-grey);
  }

  .descriptionLi {
    opacity: 0.75;
  }

  .priceCta {
    padding: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .ctaBtn {
    padding: 1rem 3.25rem;
    border-radius: 2rem;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    border: none;
    box-shadow: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
  }

  .ctaInnerContainer {
    flex-direction: row;
    text-align: left;
  }

  /* footer */

  .mainFooter {
    padding: 6rem 2rem;
  }
}

@media only screen and (min-width: 1280px) {
  /* header at 1280px */
  .mainNav {
    padding-left: 0px;
    padding-right: 0px;
  }

  /* hero section at 1280px width*/
  .heroCopy {
    text-align: left;
    width: 40%;
    max-width: none;
  }

  .heroTitle {
    font-size: 3.25rem;
    color: var(--black-text);
    font-weight: 700;
    line-height: 1.25;
  }

  .heroImg {
    width: 100%;
    max-width: 48rem;
    align-self: center;
    justify-self: center;
  }
}
